*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Livvic", sans-serif;
  color: #ffffff;
  background-color: #014E56;
  line-height: 1.4;
}

a { color: inherit; text-decoration: none; }

.logo-img      { width: 110px; height: auto; }

.btn-outline {
  display: inline-block;
  padding: 8px 24px;
  border: 2px solid #fff;
  border-radius: 35px;
  font-weight: 700;
  text-transform: uppercase;
  transition: background .25s,color .25s;
}
.btn-outline:hover { background:#fff; color:#003d3f; }

.btn-solid {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  
    height: 48px;
    padding: 0 28px;
  
    background: #fff;
    color: #003d3f;
    font-weight: 700;
    cursor: pointer;
    border: none;
    border-radius: 25px;
  }
  .btn-solid:hover {
    opacity: 0.85;
  }

  .site-header {
  margin: 0 120px;
  padding: 32px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav {
  display: flex;
  align-items: center;
  gap: 64px;
}
.main-nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  font-weight: 600;
  font-size: 1rem;
}

.contact-page {
  position: relative;
  overflow: hidden;
}

.decor {
    width: 100px;
    height: auto;
  }
  
  .decor--left {
    grid-column: 1;
    grid-row: 1 / span 3;
    justify-self: start;  
    align-self: start;    
  }
  .decor--right {
    grid-column: 4;
    grid-row: 1 / span 3;
    justify-self: end;   
    align-self: end;     
  }
.contact-wrapper {
    display: grid;
    grid-template-columns: 100px 3fr 5fr 100px;
    column-gap: 50px;
    align-items: start;
    padding: 80px 0px;
  }
  .contact-info {
    grid-column: 2;
  }
  
.contact-info h1{
    font-size: 2.5rem;

}

.subtitle {
  font-size: 1.25rem;
  font-weight:600;
  color: #f67e7e;
  margin-bottom: 40px;
}

.contact-info ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contact-info li {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 1rem;
  font-weight: 600;
}

.contact-info li img {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}

.contact-form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
}
  .contact-form {
    grid-column: 3;
  }
.contact-form input,
.contact-form textarea {
  background: transparent;

  border: none;
  border-bottom: 2px solid #fff;
  padding: 10px 4px;
  padding-right: 370px;
  font: inherit;
  color: #fff;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #2c6269;
  opacity: 1;
}
.contact-form textarea {
  resize: vertical;
  min-height: 80px;
}

.site-footer {
    display: flex;
    align-items: center;
    padding: 65px 124px;
    background-color: #002529;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 40px;
  }

.footer-left {

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-nav {
  list-style: none;
  display: flex;
  gap: 24px;
  font-weight: 700;
}

.address {
  line-height: 1.6;
  font-style: normal;
  margin: 0 auto 0 40px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;    
}
.socials img {
    margin: 5px;
     width: 24px; 
}

.copyright {
  width: 100%;
  text-align: right;
  margin-top: 40px;
  font-size: .9rem;
  opacity: .8;
}


@media (min-width:375px)  { /* smartphones,*/}
@media (min-width:768px) { /* big landscape tablets */ }
@media (min-width:1440px) { /* hi-res laptops and desktops */ }


