body{
    margin: 0;
}
.header{
    width:  100%;
    height: 517px;
    background: #014E56;
}
.flex{
    display: flex;
}
.section1{
    width:  100%;
    height: 1002px;
    background: #004047;
}
.section2{
    width:  100%;
    height: 437px;
    background: #012F34;
}
.footer1{
    width:  100%;
    height: 200px;
    background: #F67E7E;
    color: #1c2e35;
}
.footer2{
    width:  100%;
    height: 196px;
    background: #002529;
}
.myteam{
   margin-left:165px ;
   margin-top:77px ;
   width: 160px;
   height: 40px;
}
#buttonHome{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
    text-decoration: none;
    margin-top: 83px;
    margin-left: 80px;
}
#buttonAbout{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
    text-decoration: none;
    margin-top: 83px;
    margin-left: 40px;
}
#buttonContacts{
    text-decoration: none;
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
    border-radius: 24px;
    border: 2px solid #FFF;
    display: inline-block;
    flex-shrink: 0;
    margin-top: 73px;
    padding-top: 9px;
    padding-bottom:11px ;
    padding-left: 32px;
    padding-right: 33px;
    width: 88px;
    height: 28px;
    margin-left:557px ;
}
.line1{
    width: 50px;
    height: 4px;
    margin-bottom: 40px;
}
.about{
    width: 350px;
    height: 100px;
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px; 
    margin-top: 124px;
    margin-left: 165px;
}
.text1{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    width: 730px;
}
.group1{
    width: 100px;
    height: 200px;
    flex-shrink: 0;
    margin-top: 192px;
}
.flex0{
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: 51px;
}
.flex1{
    display: flex;
    justify-content: end;
    width: 100%;
}
.flex2{
    display: flex;
    justify-content: end;
    width: 100%;
    margin-right: 198px;
}
.tipoDa{
    flex-shrink: 0;
    margin-top: 130px;
    margin-left: 190px;
}
.group3{
    width: 100px;
    height: 200px;
    flex-shrink: 0;
}
p{
    color: #FFF;
    text-align: center;
    font-family: "Livvic", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    display: flex;
    margin-left: 500px;
    margin-top: -47px;
    margin-bottom: 64px;
}
.flex3{
    width: 75%;
    margin: auto;
}
.flex4{
    display: flex;
    width: 75%;
    margin: auto;
}
.flex5{
    display: flex;
    width: 75%;
    margin: auto;
}
#romb1{
    width: 350px;
    height: 253px;
    flex-shrink: 0;
    background: #012F34;
   margin-left: 160px;
   

}
#romb2{
    width: 350px;
    height: 253px;
    flex-shrink: 0;
    background: #012F34;
    margin-left: 30px;
    
}
#romb3{
    width: 350px;
    height: 253px;
    flex-shrink: 0;
    background: #012F34;
    margin-left: 30px;
}
#romb4{
    width: 350px;
    height: 253px;
    flex-shrink: 0;
    background: #012F34;
    margin-top: 76px;
    margin-left: 160px;
}
#romb5{
    width: 350px;
    height: 253px;
    flex-shrink: 0;
    background: #012F34;
    margin-top: 76px;
    margin-left: 30px;
}
#romb6{
    width: 350px;
    height: 253px;
    flex-shrink: 0;
    background: #012F34;
    margin-top: 76px;
    margin-left: 30px;
}
.oval{
    display: block;
    width: 96px;
    height: 96px;
    border-radius: 96px;
    border: 2px solid #C4FFFE;
    margin: auto;
    margin-top: 32px;
}
/*  */
.btn {
    margin-top: 20px;
    margin-left: 147px;
}
.plus {
    transform-origin: center;
}
.plus.tgl-plus {
    rotate: 45deg;
}
.circle {
    fill: #F67E7E;
}
.circle.tgl-circle {
    fill: #79C8C7;
}
.btn:hover .circle {
    fill: #79C8C7;
}
.btn:hover .circle.tgl-circle {
    fill: #F67E7E; 
}
.invisible {
    width: 0;
    height: 0;
    border: 0;
}
svg.pos0 {
    margin-top: 98px;
}
svg.pos1 {
    margin-top: 98px;
}
svg.pos2 {
    margin-top: 98px;
}
svg.pos3 {
    margin-top: 98px;
}
svg.pos4 {
    margin-top: 74px;
}
svg.pos5 {
    margin-top: 74px;
}
/*  */
.blue{
    margin-left: 24px;
    margin-top: 16px;
    width: 302px;
    color: #79C8C7;
    text-align: center;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
}
.white{
    margin-left: 24px;
    color: #FFF;
    text-align: center;
    font-family: Livvic;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    line-height: 25px; 
    width: 302px;
}

.position1{
    position: absolute;
    top: 1518px;
    bottom: 100px;
    left: 0px;
    right: 1300px;
}

.position2{
    position: absolute;
    top: 2012px;
    bottom: 100px;
    left: 0px;
    right: 1300px;
}

.txt-style{
    color: #FFF;
    text-align: center;
    font-family: Livvic;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; 
}

.txt-box-size{
    width: 1020px;
    position: absolute;
    top:1600px;
    left: 233px;
    right: 633px;
    bottom: 100px;
}

.position3{
    position: absolute;
    top: 1700px;
    bottom: 100px;
    left: 400px;
    right: 600px;
}

.cta-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }


  #buttonContactss{
    text-decoration: none;
    color: #012F34;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    border-radius: 24px;
    border: 2px solid #012F34;
    /* display: inline-block; */
    flex-shrink: 0;
    margin-top: 73px;
    padding-top: 9px;
    padding-bottom:11px ;
    padding-left: 32px;
    padding-right: 33px;
    width: 88px;
    height: 28px;
    margin-left:557px ;
}

.position4{
    position: absolute;
    top: 2050px;
    left: 100px;
    right: 100px;
    bottom: 0px;
}

.team{
    margin-left: 135px;
}

.homeF{
    margin-left: 135px;
    color: #FFF;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
    margin-top: 25px;
    text-decoration: none;
}
.aboutF{
    margin-left: 40px;color: #FFF;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-top: 25px;
    text-decoration: none;
}

.position5{
    position: absolute;
    left: -20px;
    top: 2200px;
    right: 0px;
    bottom: 0px;
}


  .footer-middle{
    margin: 10px;
  }

  .STY{
    color: #FFF;
    font-family: Livvic;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; 
    opacity: 0.6;
    margin-top: -8px;
    margin-left: 125px;
    width: 445px;
}

.cta h2 {
    font-size: 32px;
    font-weight: 800;
    margin: 0;
  }
  
  .cta button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #1c2e35;
    background-color: transparent;
    border-radius: 20px;
    cursor: pointer;
  }
  